/* Register.css */
/* Your styling for the registration page */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form {
    width: 300px;
  }
  
  .inputField {
    width: 300px;
  }
  .errorMessage {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  